#navigation {
  display: flex;
  inset: 0 0 auto;
  justify-content: space-between;
  overflow: hidden;
  padding: 10px;
  position: fixed;
  z-index: 100;  
  background-color: rgb(131, 214, 224);
}

#connect {
  display: flex;
  gap: 10px;
  float: left;
  margin-left: 10px;
}

#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  gap: 10px;
  display: flex;
  justify-content: flex-end;
}

#nav a {
  margin-top: 10px;
  margin-right: 15px;
  font-family: 'Gill Sans';
}

#connect a i,
#nav a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

#nav a:hover {
  text-decoration: underline;
}

#connect a i:hover,
#nav a:hover {
  color: rgb(41, 136, 160);
}

#connect a i {
  margin-right: 10px;
}

#heading {
  height: 100px; 
  position: relative;
  top: 100px;
  width: 100%;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  z-index: 2;
  margin-left: 70px;
  margin-bottom: 300px;
}

.stephpic {
  position: relative;
  width: 300px;
  height: auto;
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-right: 150px;
}

.one::after {
  content: "";
  display: table;
  clear: both;
}

#text {
  font-size: 24px;
  font-family: Arial, sans-serif;
  color: rgb(41, 136, 160);
  white-space: pre;
  position: absolute; 
  top: 0; 
  left: 0; 
}
  
h1 {
  font-size: 36px;
  font-family: Arial, sans-serif;
  color: #333;
  margin-top: 50px;
  display: inline-block;
}

h1#im {
  font-size: 60px;
  color: black;
  margin-right: 8px;
}

h1#name {
  font-size: 60px;
  color: black;
  text-decoration: none;
  border-bottom: 7px solid rgb(41, 136, 160); 
}
      
h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
  color: rgb(41, 136, 160);
  margin-right: 8px;
}

h2, h3 {
  display: inline-block;
}  

h4 {
  font-size: 30px;
  color: lightgrey;
}

#portfolio {
  position: relative;
  top: 300px;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  z-index: 3;

}

#portfolio.two {
  align-items: center;
  position: relative;
  max-width: 800px;
  display: block;
  margin: 0 auto;
  padding: 20px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.portfolio-container {
  max-width: 1000px; 
  margin: 0 auto;
  padding: 0 20px; 
}  

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
}

.grid-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin-bottom: 10px;
}

#aboutme {
  position: relative;
  top: 400px;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  z-index: 4;
}

.cartoonpic {
  position: relative;
  width: 200px;
  height: auto;
  float: left;
}

#aboutme.three {
  align-items: center;
  position: relative;
  max-width: 1000px;
  display: block;
  margin: 0 auto;
  padding: 20px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

#aboutme p {
  font-family: "Roboto", sans-serif;
  color: rgb(121, 119, 119);
  letter-spacing: 1.5px;
  line-height: 2.5;
}

#contact {
  top: 700px;
  position: relative;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  z-index: 5;
  background-color: #ecfaf8;
  padding: 100px 50px; 
}

.four {
margin-block-end: 3rem;
max-width: 1355px;
padding-block-start: 5rem;
padding-inline: 4rem;
}

.contactcontainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 62.5ch;
  text-align: center;
}

.contactcontainer p {
  padding-bottom: 30px;
}

.contactcontainer, .four {
  margin-inline: auto;
}

#contactform {
  display: grid;
  grid-gap: 20px;
  align-items: center;
}

.boxes {
  min-width: 520px;
}

#contact form input[type="text"],
#contact form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  font-size: 1.1rem;
}

#contact form textarea {
  height: 150px;
  margin-bottom: 30px;
}

#contact form input[type="submit"] {
  background-color: rgb(41, 136, 160);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
}

.row {
  margin-inline: auto;
}

@media (max-width: 768px) {
  #contact form {
    grid-template-columns: repeat(1, 1fr);
  }

  #contact form input[type="text"],
  #contact form textarea {
    margin-bottom: 20px;
  }
}

footer {
  position: relative;
  top: 1000px;
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 5;
  color: black;
  padding-bottom: 20px;
}
